/*
--FONTS--

--COLOR PALETTE--

--SPACING--

*/
/*-------------------------------------*/
/* Navbar */
body {
    font-family: "Roboto", "sans-serif";
}

.disabled {
    pointer-events: none;
}

.brand {
    font-size: 20px;
    font-weight: bold;
}

/*-------------------------------------*/
/* Hero */
.hero {
    background-image: url("images/hero-img.jpg");
    background-color: rgba(0, 0, 0, 0.3);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}

.hero h1 {
    font-size: 65px;
}

.subhead {
    font-size: 20px;
}

.hero-btn {
    color: #ffffff;
    background-color: transparent;
    padding: 15px;
    border-radius: 15px;
    border-color: #ffffff;
    border-width: 3px;
    width: 225px;
    transition: 0.3s;
    font-size: 20px;
}

.hero-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #000000;
    border-color: #000000;
    font-weight: bold;
}

.custom-hero-gap {
    gap: 50px;
}

.hero-boxes div {
    background-color: rgba(180, 180, 180, 0.5);
    padding: 15px;
    width: 421px;
    height: 200px;
}

.hero-description {
    padding-top: 30px;
}

/*-------------------------------------*/
/* Call To Action */
.cta-padding {
    padding: 100px 30px 100px 30px;
}

.custom-cta-gap {
    gap: 50px;
}

.img-1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.img-2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.img-div {
    width: 350px;
    height: 450px;
}

.cta-head {
    font-size: 45px;
    padding-bottom: 10px;
}

.cta-description {
    color: #56585E;
}

.cta-button {
    margin-top: 20px;
    padding: 10px;
    width: 150px;
    background-color: transparent;
    font-weight: bold;
    border-radius: 15px;
    transition: 0.3s;
}

.cta-button:hover {
    color: #ffffff;
    background-color: #000000;
}

/*-------------------------------------*/
/* Brief Features */

.feature-color {
    color: #ffffff;
    background-color: #871C1C;
}

.feature-heading {
    font-size: 45px;
    margin-bottom: 40px;
}

.feature-padding {
    padding: 100px 30px 160px 30px;
}

.feat-img-div {
    width: 350px;
    height: 450px;
}

.feat-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.custom-feat-gap {
    gap: 50px;
}

/*-------------------------------------*/
/* Form */

.form-padding {
    padding: 100px 30px 100px 30px;
}

.form-header {
    font-size: 45px;
    margin-bottom: 30px;
}

.form-size {
    background-color: #871C1C;
    padding: 30px 50px;
    width: 500px;
    color: #ffffff;
    border-radius: 10px;
}

.form-btn {
    background-color: #D85E33;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    transition: 0.3s
}

.form-btn:hover {
    background-color: #D85E33;
}

.form-div {
    margin-top: 50px;
}

.form-img-div {
    width: 500px;
    height: 380px;
    position: relative;
    right: 75px;
    top: 10px;
    z-index: -2;
}

.form-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/*-------------------------------------*/
/* Footer */

.footer {
    background-color: #2C2F33;
    color: white;
    padding: 3rem 0;
}
.social-icons a {
    color: white;
    font-size: 1.75rem;
    margin-right: 1rem;
}
.submit-btn {
    background-color: #D85E33;
    border: none;
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 25px;
}
.submit-btn:hover {
    background-color: #d06a4f;
}
.footer-email {
    text-decoration: none;
    color: white;
}
